.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 167px;
  margin-right: 20px;
}

.covered {
  content: url("../img/card-back.png");
}

.hand {
  overflow: auto;
}

body {
  background-color: green;
}
